<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reborn.web.dao.animal.AnimalDao">

	<!-- &gt; : >   /  &lt; : <   -->
	
	
	<!-- int offset, int size, String upKindCd, String kindCd, Date startDate, Date endDate, String neuter -->
	<select id="getList" resultType="com.reborn.web.entity.animal.Animal">
		SELECT * FROM Animal
		<where>
			<if test="param3 != null and param3 != ''">		
	      		AND upKindCd = #{param3}
	     	</if> 
	     	
			<if test="param4 != null and param4 != ''">		
	      		AND kindCd = #{param4}
	     	</if> 
	     	
	     	<if test="param5 != null">
	      		AND happenDt &gt;= #{param5}
	     	</if> 
	     	
	     	<if test="param6 != null">
	      		AND happenDt &lt;= #{param6}
	     	</if> 
	     	
	     	<if test="param7 != null and param7 != ''">
	      		AND neuterYn = #{param7}
	     	</if> 
		</where>
      order by desertionNo desc
      limit #{param2} offset #{param1}
	</select>

	
	<select id="get" resultType="com.reborn.web.entity.animal.Animal">
		SELECT * FROM Animal
		WHERE desertionNo = #{desertionNo}
	</select>


	<insert id="insert" parameterType="com.reborn.web.entity.animal.Animal">
		INSERT INTO Animal (desertionNo, noticeNo, upKindCd, kindCd, careAddr, processState 
							, careRegNo, noticeSdt, noticeEdt, weight, careNm, sexCd
							, careTel, happenPlace, officetel, orgNm, popfile
							, neuterYn,specialMark,colorCd,happenDt, age)
      	VALUES(#{desertionNo}, #{noticeNo}, #{upKindCd}, #{kindCd}, #{careAddr}, #{processState}
      			, #{careRegNo}, #{noticeSdt}, #{noticeEdt}, #{weight} ,#{careNm}, #{sexCd}
      			, #{careTel}, #{happenPlace}, #{officetel}, #{orgNm}, #{popfile}, #{neuterYn} 
      			, #{specialMark}, #{colorCd}, #{happenDt}, #{age})
	</insert>
	
	
	<update id="update" parameterType="com.reborn.web.entity.animal.Animal">
		UPDATE Animal SET noticeNo = #{noticeNo}, upKindCd = #{upKindCd}, kindCd = #{kindCd}, careAddr = #{careAddr}, processState = #{processState} 
						, careRegNo = #{careRegNo}, noticeSdt = #{noticeSdt}, noticeEdt = #{noticeEdt}, weight = #{weight}, careNm = #{careNm}, sexCd = #{sexCd} 
						, careTel = #{careTel}, happenPlace = #{happenPlace}, officetel = #{officetel}, orgNm = #{orgNm}, popfile = #{popfile}
						, neuterYn = #{neuterYn}, specialMark = #{specialMark}, colorCd = #{colorCd}, happenDt = #{happenDt}, age = #{age}
						, name = #{name}
		WHERE desertionNo = #{desertionNo}
	</update>
	
	<delete id="delete" parameterType="long">
		DELETE FROM Animal
		WHERE desertionNo = #{desertionNo}
	</delete>
	
	<select id="getCount" resultType="int">
		SELECT count(desertionNo) FROM Animal
		<where>
			<if test="param1 != null and param1 != ''">		
	      		AND upKindCd = #{param1}
	     	</if> 
	     	
			<if test="param2 != null and param2 != ''">		
	      		AND kindCd = #{param2}
	     	</if> 
	     	
	     	<if test="param3 != null">	
	      		AND happenDt &gt;= #{param3}
	     	</if> 
	     	
	     	<if test="param4 != null">
	      		AND happenDt &lt;= #{param4}
	     	</if> 
	     	
	     	<if test="param5 != null and param5 != ''">
	      		AND neuterYn = #{param5}
	     	</if> 
		</where>
	</select>
	
	<select id="getListByCareRegNo" resultType="com.reborn.web.entity.animal.Animal">
		SELECT * FROM Animal
		where careRegNo = #{param1}
	</select>
	
</mapper>