@charset "UTF-8";


.filter {
	width: 100%;
	border: solid 1px var(--border);
	box-shadow: var(-box-shadow);
	margin-bottom: 30px;
	padding: 30px;
	
	display: flex;
	align-items: center;
}
	.filter label {
	    width: 90px;
	}
	.filter select {
		flex-grow: 1;
		height: 40px;
		border: solid 1px var(--border);
		border-radius: 5px;
		margin-right: 10px;
	}

	

.vote-list {
	display:flex;
	flex-direction: column;
    justify-content: center;
    align-items: center; 
    min-height: 300px;
}

.item {
    width: 100%;
	box-shadow: var(--box-shadow);
	margin-bottom: 20px;
}
    .item .progress {
        width: 100%;
        height: 5px;
        background-color: var(--border);
    }
        /* .item .percent .progress-bar {
            width: 0%;
            height: 5px;
            background-color: var(--main);
            transition: width 2s ease-in-out;  이 클래스에 width 속성이 바뀔땐 무조건 애니메이션 적용
        }
 */
   	.item .regdate {
   		--position: fixed;
   		margin-right: 0px;
   		/* float: right;
   		height:fit-content; */
   	}
   	
    .item .btn {
    	width: 100%;
        height: 250px;
        display:flex;
        justify-content: flex-start;
       	align-items: center; 
       	border: none;
       	outline: none;
       	background: var(--bg);
    }
    	.item .btn:hover {
	       	background: var(--bg-hover);
	    }
	    
	    .item .btn:active {
	       	background: var(--bg-active);
	    }
	    
		.item .btn > img {
			width: 40%;
			height: 100%;
			padding: 10px;
		}
		
		.item .btn .vote-info{
			flex-grow: 1;
			height: 100%;
	       	display:flex;
	       	flex-direction: column;
	       	justify-content: space-evenly;
	       	align-items: center; 
	    }
	    	.item .btn .vote-info > div{
		       	display:flex;
		       	align-items: center; 
		    }
		    
		    .item .btn .vote-info .rank {
		    	width: 70%;
		    	--font-size: 24px;
		    	margin: 0px auto;
		    }
			    .item .btn .vote-info .rank *{		    	
			    	text-align: center;
			    }		    
			    
			    .item .btn .vote-info .rank tr{		    	
			    	height: 30px;
			    }
				    .item .btn .vote-info .rank tr> th:first-child > i{		    	
				    	text-align: right;
			    		--font-size: 18px;
			    		margin-right: 10px;
				    }
					    .item .btn .vote-info .rank tr:nth-child(1)> th:first-child > i{		    	
					    	color: #f9db51;
					    }
					    .item .btn .vote-info .rank tr:nth-child(2)> th:first-child > i{		    	
					    	color: #bdbdb9;
					    }
					    .item .btn .vote-info .rank tr:nth-child(3)> th:first-child > i{		    	
					    	color: #dbbc8e;
					    }
					    
			 .item .btn .vote-info .name {
		    	width: 70%;
		    	--font-size: 24px;
		    	margin: 0px auto;
		    }   
			    .item .btn .vote-info .name tr{		    	
			    	height: 40px;
			    }
				    .item .btn .vote-info .name tr > td:first-child *{		    	
				    	text-align: right;
				    }
				    
				    .item .btn .vote-info .name tr > td:nth-child(2) *{		    	
				    	text-align: left;
				    }
				    
				    .item .btn .vote-info .name tr > td:last-child *{		    	
				    	text-align: center;
				    	width: 30%;
				    }
				    

		    
    			.count {
    				width:100%;
				    justify-content: space-around;
				}
					.count-item {
					   	display:flex;
					    justify-content: center;
					    align-items: center; 
					}
					    .count-item > span:first-child{
					       	--font-size: 18px;
					       	font-weight: bold;
					       	margin-right: 20px;
					    }
					    
					    .count-item > span:last-child{					    
							font-size: 30px;
					       	font-weight: bold;
					       	color: var(--main);
					    }
	    
.font-xl {
	font-size: 30px;
}    

.font-l {
	font-size: 24px;
}    
    
.font-m {
	font-size: 18px;
} 
    
.font-xs {
	font-size: 12px;
}