<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.reborn.web.dao.member.MemberDao">

	<insert id="insert">
		insert into Member
		(loginId,name,gender,pw,nickname,birthDay,phone,email,authorityId,titleId)
		values(#{loginId},#{name},#{gender},#{pw},#{nickname},#{birthDay},#{phone},#{email},2,1);
	</insert>

	<select id="get" resultType="com.reborn.web.entity.member.Member">
		select * from Member
		where loginId =#{loginId}
	</select>
	
		<select id="getList" resultType="com.reborn.web.entity.member.Member">
		select * from Member
	</select>

	<!-- 이메일로 멤버 가져오기검사 -->
	<select id="getMember"
		resultType="com.reborn.web.entity.member.Member">
		select * from Member where email = #{email} and name =
		#{name}
	</select>

	<!-- 아이디 중복 검사 -->
	<select id="checkId" parameterType="String" resultType="int">
		select count(*) from Member where loginid =#{loginId}
	</select>

	<!-- 이메일 중복 검사 -->
	<select id="checkEmail" parameterType="String" resultType="int">
		select count(*) from Member where email = #{email}
	</select>

	<!-- 아이디, 이름, 휴대폰으로 멤버 검사 -->
	<select id="checkMemberPhone" parameterType="String"
		resultType="int">
		select count(*) from Member where loginId = #{loginId} and
		name = #{name} and phone = #{phone}
	</select>
	
		<!-- 아이디, 이름, 이메일로 멤버 검사 -->
	<select id="checkMemberEmail" parameterType="String"
		resultType="int">
		select count(*) from Member where loginId = #{loginId} and
		name = #{name} and email = #{email}
	</select>

	<update id="update">

		update Member
			set
				loginId=#{loginId},
				name=#{name},
				gender=#{gender},
				pw=#{pw},
				regDate=#{regDate},
				nickname=#{nickname},
				birthDay=#{birthDay},
				phone=#{phone},
				email=#{email},
				outDate=#{outDate},
				authorityId=#{authorityId},
				profileImg=#{profileImg},
				titleId=#{titleId},
				point=#{point},
				nameCount=#{nameCount}
			where id=#{id};

	</update>
	
</mapper>