<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reborn.web.dao.care.CareWishDao">

	<select id="getCareListByMemberId" resultType="com.reborn.web.entity.care.CareWish">
		SELECT * FROM CareWish
		<where>
			memberId = #{param1}
			AND careRegNo IN
			<foreach item="cw" index="index" collection="list"
				open="(" separator="," close=")">
				#{cw.careRegNo}
			</foreach>
		</where>
	</select>
	
	<insert id="insert" parameterType="com.reborn.web.entity.care.CareWish">
		INSERT INTO CareWish(memberId, careRegNo)
      	VALUES(#{memberId}, #{careRegNo})
	</insert>
	
	<delete id="delete">
		DELETE FROM CareWish 
		WHERE memberId = #{param1} AND careRegNo = #{param2}
	</delete>
	
</mapper>