<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="join.css" type="text/css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <main class="find-id">
        <div class="logo"></div>
        <div class="container">
            <span class="title">등록된 이메일로 아이디 찾기</span>
            <div class="envelope input-icon">
                <i class="fas fa-envelope"></i>
            </div>
            <input type="text" class="email input" placeholder="이메일">
            <div class="name input-icon">
                <i class="fas fa-user-alt"></i>
            </div>
            <input type="text" class="name input"placeholder="이름">
            <input type="button" value="확인" class="button">
        </div>
    </main>
</body>
</html>