<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="main-container">
        <div class="content message">
            <h3 class="title">쪽지함</h3>

            <select name="" id="">
                <option value="1">받은 쪽지함</option>
                <option value="">보낸 쪽지함</option>
                
                <option value="">받은 쪽지 보관함</option>
            </select>
            <table>
                <thead>
                    <tr>보낸사람</tr>
                    <tr>제목</tr>
                    <tr>날짜</tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </section>
</body>
</html>