@charset "UTF-8";

:root {
    /*---------- 색상 -------------*/
    --text: #252525;
    --bg:white; 
    --main: #43888A;
    --sub: #fff4ff;
    --menu-item: #43888A15;
    --title-text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.75);
    --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.50);
    --red-pink: #E99292;
    --blue: #7c7ada;
    /*--------공통 버튼 컬러---------*/
    --main-hover: #499496;
    --main-active: #3c7879; 
    --gray: #5c5c5c;
    --gray-hover: #4e4e4e;
    --gray-active: #3f3b41;
    --bg-hover: rgb(247, 247, 247);
    --bg-active: rgb(241, 241, 241);
    /*---------- 폰트 -------------*/
    --font-normal: 'GoyangIlsan';
    --font-title: 'GoyangDeogyang';
    /*---------- 사이즈 -------------*/
    --content-w-size : 1000px;
}

/* 기본 폰트 */
@font-face {
    font-family: 'GoyangIlsan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 제목 폰트 */
@font-face {
    font-family: 'GoyangDeogyang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangDeogyang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: var(--font-normal);    
    color: var(--text);
} 
  

.d-none {
    display: none;
}

h1, h2, h3 {    
    font-family: var(--font-title);
    font-weight: bold;
    display: flex;              /* 구분선을 위함 */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    h1::after,
    h2::after,
    h3::after {  /* h1사용시 앞에 추가 됨 */
        content: "";
        width: 40px;
        height: 3px;
        background-color: var(--main);
        margin: 15px 0px;
    }
    
h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}
    

/* 전체 설정(아웃라인, border)*/
.main-button-wf,
.gray-button-wf,
.bg-button-wf,
.main-button-l,
.gray-button-l,
.bg-button-l,
.main-button-m,
.gray-button-m,
.bg-button-m,
.main-button-s,
.bg-button-s, 
.gray-button-s  {	
 	border:none;
    outline: none;    
}

/* width full 사이즈 버튼(크기, 폰트 등)*/
.main-button-wf,
.gray-button-wf,
.bg-button-wf {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    font-size: 18px;
}

/* l사이즈 버튼(크기, 폰트 등)*/
.main-button-l,
.gray-button-l,
.bg-button-l {
    width: 150px;
    height: 50px;
    border-radius: 8px;
    font-size: 18px;
}

/* m사이즈 버튼(크기, 폰트 등)*/
.main-button-m,
.gray-button-m,
.bg-button-m {
    width: 100px;
    height: 50px;
    border-radius: 8px;
    font-size: 18px;
}

/* s사이즈 버튼(크기, 폰트 등)*/
.main-button-s,
.gray-button-s,
.bg-button-s {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-size: 13px;
}


/* 버튼 컬러별 설정(배경 컬러, 폰트 컬러, hover 시 컬러) */
.main-button-wf,
.main-button-l,
.main-button-m,
.main-button-s {
    background: var(--main);
    color: var(--bg);
}
    .main-button-wf:hover,
    .main-button-l:hover,
    .main-button-m:hover,
    .main-button-m:hover{
        background: var(--main-hover);
    }

    .main-button-wf:active,
    .main-button-l:active,
    .main-button-m:active,
    .main-button-m:active{
        background:var(--main-active);
    }

.gray-button-wf,
.gray-button-l,
.gray-button-m,
.gray-button-s {
    background: var(--gray);
    color:var(--bg);
}
    .gray-button-wf:hover,
    .gray-button-l:hover,
    .gray-button-m:hover,
    .gray-button-s:hover {
        background:var(--gray-hover);
    }
    .gray-button-wf:active,
    .gray-button-l:active,
    .gray-button-m:active,
    .gray-button-s:active{
        background:var(--gray-active);
    }

/* 배경색과 동일한 색상의 버튼 */
.bg-button-wf,
.bg-button-l,
.bg-button-m,
.bg-button-s {
    background: var(--bg);
    color: var(--main);
}
    .bg-button-wf:hover,
    .bg-button-l:hover,
    .bg-button-m:hover,
    .bg-button-s:hover{
        background:var(--bg-hover);
    }
    .bg-button-wf:active,
    .bg-button-l:active,
    .bg-button-m:active,
    .bg-button-s:active{
        background:var(--bg-active);
    }
    
    
 .pager-list {
    display: flex;
    justify-content: center;
}

.pager-list>li>a {
    display: block;
    min-width: 40px;
    text-align: center;
}

.pager-list>li.active>a {
    color: var(--main);
    font-weight: bold;
}

.pager-list>li:hover>a {
    color: var(--main);
    font-weight: bold;
}

/* list 페이지에 사용된 pager css */
.pager{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 70px;
    }
    .btn-prev {
    	margin-right: 15px;
    }
    .btn-prev, .btn-next{
        display: inline-block;
        --border: lightslategray solid 1px;
        border-radius: 20%;        
        text-align: center;
        line-height: 35px;
        width: 35px;
    }
    .next{
        margin-left: 10px;
    }
    .pager > ul {
        display: flex;
        justify-content: center;
        
    }
    .btn-center>li{        
        --border: solid 1px;
        border-radius: 20%;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
    .current{
        background: #1a7a7e;
        color: linen;
    }

    .btn-next{
        margin-left: 5px;
    }

.scroll-none{
    overflow: hidden;
}

.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    transition: background .5s;
	z-index: 100;
}

.modal.active{
    background: rgba(0, 0, 0, .4);
}

.modal .modal-box-inner{
    display: flex;
    flex-direction: column;
    max-height: 80%;
    background: white;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    animation: showAlert .3s;
    /* will-change: transform; */
}

.modal .modal-content{
	min-width: 200px;
    min-height: 60px;
    height: 100%;
    overflow-y: auto;
}

.modal .modal-content.modal-content-padding{
	padding: 20px;
}

.modal .modal-footer .btn-inner{
	display: flex;
	text-align: center;
/* 	border-top: 1px solid var(--bg-hover); */
}

.modal .modal-footer .btn-inner > .modal-btn{
	flex: 1 0 50%;
    padding: 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.modal .modal-footer .btn-inner > .modal-btn.cancel-btn{
	background: var(--bg-hover);
}
.modal .modal-footer .btn-inner > .modal-btn.ok-btn{
	background: var(--main-hover);
	color: #ffffff;
}

.modal .modal-footer .btn-inner > .modal-btn.cancel-btn:hover{background: var(--bg-hover)}
.modal .modal-footer .btn-inner > .modal-btn.ok-btn:hover{background: var(--main);}


.modal .modal-footer .btn-inner > .modal-btn:first-child{
	/* border-right: 1px solid var(--bg-hover); */
}

@keyframes showAlert{
	0% {
	    -webkit-transform: scale(1);
	    transform: scale(1);
	}
	1% {
	    -webkit-transform: scale(.5);
	    transform: scale(.5);
	}
	45% {
	    -webkit-transform: scale(1.05);
	    transform: scale(1.05);
	}
	80% {
	    -webkit-transform: scale(.95);
	    transform: scale(.95);
	}
	100% {
	    -webkit-transform: scale(1);
	    transform: scale(1);
	}
}