<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reborn.web.dao.report.ReportDao">
	<select id="getViewList" resultType="com.reborn.web.entity.report.MissingBoardView">
		select * from MissingBoardView
		<if test="param3 != null and param3 !=''">
		where BINARY ${param3} like '%${param4}%' 
		</if>
		order by regdate desc limit #{param2} offset #{param1};
	</select>
	
	 
	 <select id="getCount" resultType="int">
		select count(id) from MissingView
		 <if test="param1 != null and param1 !=''">
	     where BINARY ${param1} like '%${param2}%'
	     </if>
	 </select>
	
		 
	 <select id="getView" resultType="com.reborn.web.entity.report.MissingView">
	 	select * from MissingView where id = ${param1}
	 </select>
	 
	 <select id="getCommentViewList" resultType="com.reborn.web.entity.report.MissingCommentView">
	 	select * from MissingCommentView where missingId = ${param1}
	 </select>
	 
	 <select id="getLastId"  resultType="int">
	 	select id from Missing order by regDate desc limit 1;
	 </select>
	 
	 <insert id="insert" parameterType="com.reborn.web.entity.report.Missing">
	 	insert into Missing(memberId, title, content, missingDate, feature, location, breed, files)
	 	values(#{memberId}, #{title}, #{content}, #{missingDate}, #{feature}, #{location}, #{breed}, #{files})
	 </insert>
	 <insert id="insertComment"  parameterType="com.reborn.web.entity.report.MissingComment">
	 	insert into MissingComment(memberId, missingId,content)
	 	values(#{memberId}, #{missingId}, #{content})
	 </insert>
	 
	 <delete id="commentDelete">
	 	delete from MissingComment where id= ${param1}
	 </delete>
	 
	 <insert id="commentDeclare"  parameterType="com.reborn.web.entity.report.MissingCommentReport">
	 	insert into MissingCommentReport(memberId, commentId,reason)
	 	values(#{memberId}, #{commentId}, #{reason})
	 </insert>
	 <update id="commentModify" parameterType="com.reborn.web.entity.report.MissingComment">
	 	update MissingComment set content = #{content} where id= ${commentId}
	 </update>
	 
	 <select id="getEmailList" resultType="String">
	 	select email from Member;
	 </select>
	 
	 
	 <update id="update" parameterType="com.reborn.web.entity.report.Missing">
	 	update Missing
	 	set title=#{title}, content=#{content}, missingDate=#{missingDate}, feature=#{feature}, location=#{location}, breed=#{breed}, files=#{files} 
	 	where id= ${id}
	 </update>
	 
	  <delete id="delete">
	 	delete from Missing where id = ${id}
	 </delete>
	 
	 
	 
	 
	 
	 
</mapper>