
:root{
    --main-color: #43888A;
    --text-color: #312A29;
    --text-title-color: #FFFFFF;
    --background-color: #effeff;
    --background-pink: #fff4ff;
    --background-gray: #f2f2f2;
    --list-color: #dff3f5;

    --title-text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.75);
    --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.50);
    --black-25: rgba(0, 0, 0, 0.25);
    --black-35: rgba(0, 0, 0, 0.35);
    --black-50: rgba(0, 0, 0, 0.50);
    --black-75: rgba(0, 0, 0, 0.75);
    --pc-width: 1280px;
    --intro-height: 45vh;
    --red-pink: #E99292;
    --blue: #7c7ada;
}
html, body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height:100%;
}
.section-min-width{
    min-width: var(--pc-width);
}
.section-max-width{
    max-width: var(--pc-width);
}
.box-center{
    margin: 0 auto;
}
.position-center{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.position-bottom{
    bottom: 0px;
}
.position-top{
    top:0;
}
.position-left{
    left:0;
}
.position-right{
    right:0;
}
.bold{
    font-weight: bold;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.input-reset{
    outline: none;
    border: 0;
    background: 0;
    color: #000000;
}
.backdrop-blur{
    -webkit-backdrop-filter: blur(20px) saturate(140%);
    backdrop-filter: blur(20px) saturate(140%);
}
.fullscreen-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.search-empty{
	line-height: 100px;
	font-size: 70px;
	text-align: center;	
	color: #ddd;
}
.line{
	border-bottom: 2px solid #ddd;
}
.d-none{display:none !important; }
.reveal{opacity: 1;pointer-events: all;}
.hide{opacity: 0;cursor:initial}
.circle{border-radius: 50% 50%;}
.left{margin-left:auto;}
.right{margin-left:right;}
.pointer{cursor:pointer;}
.bold{font-weight:bold;}
.reject{color:#e44e4e;}
.resolve{color:#30baa1;}
.reject-box{background: #e44e4e;color: #ffffff;}
.resolve-box{background: #30baa1;color: #ffffff;}
.smaller{flex-basis:0 !important;height:0 !important;border: 0 !important;padding:0 !important;overflow: hidden;}
.translucent{opacity:0.5}
.nowrap{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.position-absolute{
    position: absolute;
}
.input-disabled{
    cursor: not-allowed;
}
.border-decoration{
    box-sizing: border-box;
    border: 20px solid #ddd;
    border-image: repeating-linear-gradient(-45deg,#e66465 0,#e66465 10px,#f6b73c 10px,#f6b73c 20px,#e66465 20px) 20 20 repeat;
}
.shake{
	animation: shake 5s ease-in-out infinite
}
.pager-info{
	text-align:center;
	line-height: 70px;
	color: #ddd;
    font-size: 20px;
}
@keyframes shake {
  2% {
    transform: translate(1.5px, 2.5px) rotate(-0.5deg); }
  4% {
    transform: translate(1.5px, -1.5px) rotate(0.5deg); }
  6% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
  8% {
    transform: translate(0.5px, 2.5px) rotate(0.5deg); }
  10% {
    transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
  12% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
  14% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg); }
  16% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  18% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg); }
  20% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
  22% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg); }
  24% {
    transform: translate(1.5px, 2.5px) rotate(1.5deg); }
  26% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg); }
  28% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  30% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg); }
  32% {
    transform: translate(0.5px, 2.5px) rotate(-0.5deg); }
  34% {
    transform: translate(-0.5px, 1.5px) rotate(1.5deg); }
  36% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg); }
  38% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg); }
  40% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg); }
  42% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
  44% {
    transform: translate(-1.5px, -1.5px) rotate(1.5deg); }
  46% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg); }
  48% {
    transform: translate(-0.5px, 1.5px) rotate(-0.5deg); }
  50% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg); }
  52% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg); }
  54% {
    transform: translate(2.5px, -1.5px) rotate(0.5deg); }
  56% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg); }
  58% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
  60% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg); }
  62% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
  64% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
  66% {
    transform: translate(1.5px, -0.5px) rotate(1.5deg); }
  68% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg); }
  70% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
  72% {
    transform: translate(1.5px, 0.5px) rotate(0.5deg); }
  74% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg); }
  76% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  78% {
    transform: translate(2.5px, -1.5px) rotate(0.5deg); }
  80% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  82% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
  84% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  86% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg); }
  88% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
  90% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
  92% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg); }
  94% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  96% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
  98% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); }
}

.ripple{
	animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.1),
                0 0 0 20px rgba(255,255,255, 0.1),
                0 0 0 40px rgba(255,255,255, 0.1),
                0 0 0 60px rgba(255,255,255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255,255,255, 0.1),
                0 0 0 40px rgba(255,255,255, 0.1),
                0 0 0 60px rgba(255,255,255, 0.1),
                0 0 0 80px rgba(255,255,255, 0);
  }
}

.highlight{
	animation: highlight 1s ease 1;
}

@keyframes highlight {
    0%{
		background: rgba(238,211,126,0.7);
    }
    100%{
		background: transparent;
    }
}